/* ASIDE */
/* Put content to the left or right of the page as an "aside". This is an
 * alternative to footnotes.
 */

aside {
  hyphens: auto;                       /* Hyphenate, as this text is quite narrow. */
}

aside {
  position: absolute;
  left: /*padx*/-15em;
  width: 14em;
  text-align: right;
  font-size: var(--font-size-s);
}

/* Alternative: place on the right.
aside {
  position: absolute;
  right: -15em;
  width: 14em;
}
*/

@media (max-width: 83em) {             /* Place inline if it won't fit on the screen. */
  aside {
    position: static;
    width: auto;
    text-align: left;
    background-color: #f7f7f7;
    padding: .4em 2em;
    border: var(--hairline) solid /*bordercolor*/#aaa;
    hyphens: none;
  }
}

/* Optional: place the page further to the right, so that there's more space for
 * the aside.
 * Adjust the media query above to max-width: 63em
.page {
  left: 10em;
}
*/
