/* IMAGES */
img {
    max-width: 100%; /* Make sure it's never larger than the page. */
}
figure {
    text-align: center; /* Centre images and associated captions (if any). */
    margin: 1.2mm 0; /* Don't need 40px of margin on either side. */
}

figure.border {
    border: var(--hairline) solid /*bordercolor*/ #aaa; /* Add border. */
    padding: 5px; /* Slight gap between image and border. */
    margin: -5px; /* Put the border in the margin, so the padding doesn't shrink the image. */
}

@media (min-width: /*bodywidth*/54em) {
    /* Only if the screen is wide enough. */
    figure.full {
        /* Make sure this is after .border so that adding both works. */
        margin-left: /*padx*/ -4rem;
        width: calc(100% + /*padx*/ 8rem);
    }

    figure.full.border {
        border-left: none; /* Remove side borders on .full */
        border-right: none;
    }
}

@media (min-width: /*bodywidth*/54em) {
    /* Only if the screen is wide enough. */
    pre.full {
        margin-left: /*padx*/ -4rem;
        width: calc(100% + /*padx*/ 8rem);
    }
}
