/* latin-modern-roman-caps-10-regular */
@font-face {
	font-family: Latin Modern Roman Caps;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Caps 10 Regular"), local("LMRomanCaps10-Regular"), url(latin-modern-roman-caps-10-regular.woff2) format("woff2");
}
/* latin-modern-roman-caps-10-oblique */
@font-face {
	font-family: Latin Modern Roman Caps;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Caps 10 Oblique"), local("LMRomanCaps10-Oblique"), url(latin-modern-roman-caps-10-oblique.woff2) format("woff2");
}

