a {
    color: var(--color-link);
    text-decoration-thickness: var(--hairline);
    font-style: italic;
}

a:hover {
    background-color: var(--color-link-hover);

    @media (prefers-reduced-motion: no-preference) {
        transition: background-color .5s;
    }
}

a:visited {
    color: var(--color-link-visited);
}

a:focus {
    outline: dotted;
}

* :target {
    background-color: var(--color-link-target);
}

/* PERMALINK MARKERS */

a.direct-link {
    line-height: 0;
    text-decoration: none;
    visibility: hidden;
}

*:hover>a.direct-link {
    visibility: visible;
}

a.direct-link::after {
    content: "#";
}

[id] {
    scroll-margin-top: var(--font-size-m);
}