/* Put decorational quotation marks around blockquote elements. */
blockquote {
    /* Quotations are usually typeset in italics. */
    font-style: italic;
    /* So that position: absolute is relative to this. */
    position: relative;
    border-width: var(--hairline);
    border-style: solid;
    border-color: var(--color-font-primary);
    padding: 6rem;
    margin: var(--font-size-m) 0;

    & p {
        text-indent: 0;
    }

    &>*:first-child {
        margin-top: 0;
    }

    &>*:last-child {
        margin-bottom: 0;
    }
}

blockquote::before {
    content: "»";
    /* Just decorational, so don't stand out too much. */
    font-style: normal;
    color: var(--color-seal-wax);
    /* Don't interfere with regular layout. */
    position: absolute;
    font-size: var(--font-size-xxxxxl);
    left: -6rem;
    top: -1rem;
    @media screen and (max-width: 210mm) {
        font-size: var(--font-size-xxl);
        left: -0.8rem;
        top: -0.2rem;
    }
}

@media print {
    blockquote {
        break-inside: avoid;
    }
}
