body {
    font-size: var(--font-size-m);
    tab-size: 4;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;

    @media screen {
        display: grid;
        justify-content: center;
    }

    @media screen and (max-width: 210mm) {
        grid-template-columns: 1fr;
        grid-template-columns: fit-content(210mm);
    }
}
