.box {
    /* Quotations are usually typeset in italics. */
    font-style: italic;
    /* So that position: absolute is relative to this. */
    position: relative;
    border-width: var(--hairline);
    border-style: solid;
    border-color: var(--color-font-primary);
    padding: 6rem;
    margin: var(--font-size-m) 0;

    & p {
        text-indent: 0;
    }

    &>*:first-child {
        margin-top: 0;
    }

    &>*:last-child {
        margin-bottom: 0;
    }
}
