main {
    & .footnote-ref {
        & a {
            text-decoration: none;
        }
    }
    & .footnotes-sep {
        border-top-width: var(--hairline);
        border-top-style: solid;
        border-color: var(--color-shadow);
        text-align: left;
        font-size: var(--font-size-m);
        height: var(--hairline);
        @media (min-width: 210mm) {
            margin: 12mm -12mm 12mm -12mm;
        }
    }
    & .footnotes-sep::before {
        padding: 0 3mm;
        font-style: normal;
        letter-spacing: 0;
        content: "Footnotes";
        position: relative; /* Move to the to align with the border. */
        top: -4.5mm;
        left: 24mm;
        background-color: var(--color-background-primary);
    }
    & .footnotes {
        font-size: var(--font-size-s);
        & .footnote-item {
            margin: 12mm 0;
            & p {
                text-indent: 0;
                margin: 0;
            }
        }
    }
}
