footer {
    @media print {
        display: none;
    }

    & * {
        font-family: var(--font-headline);
        font-variant-ligatures: common-ligatures discretionary-ligatures;
        font-feature-settings: "liga" on, "dlig" on;
    }
}
