button {
    padding: 0 var(--font-size-m);
    height: var(--font-size-xxxl);
    line-height: 1em;
    vertical-align: middle;
    border-color: var(--color-seal-wax);
    background-color: var(--color-background-tertiary);
    color: var(--color-font-primary);
    border-style: solid;
    border-radius: 0;
    border-width: var(--hairline);
    cursor: pointer;
    margin-left: var(--font-size-xxxxxs);
    margin-right: var(--font-size-xxxxxs);
    font-family: var(--font-monospace);
}

button:focus {
    outline: dotted;
}

button:hover {
    background-color: var(--color-link-hover);
}

button:active {
    color: var(--color-seal-wax);
}