h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headline);
    font-weight: 500;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    font-feature-settings: "liga" on, "dlig" on;
    margin: 1em 0 var(--font-size-m) 0;

    & .post-taglist {
        margin: 0;
    }
}

/* The intention is that there is only one h1 on a page: at the top. If you use
 * h1 different, then you may want to add a border like in the h2. */
h1 {
    text-align: center;
    font-size: var(--font-size-xxxxxl);
    font-weight: 700;
}

h2 {
    border-bottom: var(--hairline) solid var(--color-font-primary);
    padding-bottom: 0.25mm;
    font-size: var(--font-size-xxxxl);
    font-weight: 600;
    margin-top: 0;
}

h3 {
    font-size: var(--font-size-xxxl);
    font-weight: 600;
}

h4 {
    font-size: var(--font-size-xxl);
    font-weight: 500;
}

h5 {
    font-size: var(--font-size-xl);
    font-weight: 500;
}

h6 {
    font-size: var(--font-size-l);
    font-weight: 500;
}


@media print {
    h1 {
        margin-top: 0;
    }

    h2 {
        break-before: page;
        margin-top: 0;
    }

    h3 {
        break-after: avoid;
    }

    h4 {
        break-after: avoid;
    }

    h5 {
        break-after: avoid;
    }

    h6 {
        break-after: avoid;
    }
}

@media screen and (max-width: 210mm) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        hyphens: auto;
    }
}