header {
    & * {
        font-variant-ligatures: common-ligatures discretionary-ligatures;
        font-feature-settings: "liga" on, "dlig" on;
    }
    & .page-title {
        @media (max-width: 210mm) {
            text-align: center;
            font-size: var(--font-size-xxl);
        }
        @media (min-width: 210mm) {
            font-size: var(--font-size-xxxxxl);
        }
    }

    & .sub-title {
        @media (max-width: 210mm) {
            text-align: center;
            font-size: var(--font-size-l);
        }
        @media (min-width: 210mm) {
            font-size: var(--font-size-xl);
        }
        font-style: italic;
    }

    & hr {
        border-bottom: 0;
        color: var(--color-shadow);
    }
}
