dl {
    margin-bottom: var(--font-size-m);
}

dt {
    margin-top: var(--font-size-m);
    font-weight: bold;
    color: var(--color-mild-text);
}

dt::after {
    content: ":";
}

dd {
    margin: var(--font-size-m) 0 0 21.25mm;
    padding: 0 0 3mm 0;
}

dt+dd {
    margin-top: 0;
}

dd>*:first-child {
    margin-top: 0;
}

dd>*:last-child {
    margin-bottom: 0;
}

li>p {
    margin-top: 0;
    margin-bottom: 0;
}