main {
    background-color: var(--color-background-primary);
    font-family: var(--font-text);
    font-weight: 400;
    overflow: hidden;

    @media screen {
        outline: var(--color-shadow) var(--hairline) solid;
    }
}
