nav {
    & ul * {
        font-family: var(--font-headline);
        font-size: var(--font-size-xl);
        font-weight: 500;
        font-variant-ligatures: common-ligatures discretionary-ligatures;
        font-feature-settings: "liga" on, "dlig" on;
    }
    & > ul {
        padding: 0;
    }

    & ul {
        list-style-type: none;

        & li::before {
            content: "☞ ";
        }
    }
}
