p {
    hanging-punctuation: first allow-end;
    hyphens: none;
    margin-top: var(--font-size-m);
    margin-bottom: var(--font-size-m);
    font-family: var(--font-text);
}

@media screen and (max-width: 210mm) {
    p {
        hyphens: auto;
    }
}