.postlist {
    list-style-type: none;
    padding-left: 0;
    & .postlist-item {
        & .post-date {
            font-family: var(--font-monospace);
            font-size: var(--font-size-s);
            color: var(--color-mild-text);
            margin-right: 12mm;
        }
        & .post-link {
            margin-left: 12mm;
            font-size: var(--font-size-l);
            font-family: var(--font-headline);
        }
        & .post-description {
            margin-left: 12mm;
        }
    }
}

.post-taglist {
    list-style-type: none;
    padding-left: 0;
    margin-left: 12mm;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: var(--font-size-s);
    & li {
        display: inline;
    }
}
