/* SUPER- AND SUBSCRIPT */
main {
    & sup,
    & sub {
        /* Make sure the line height isn't affected. */
        position: relative;
        line-height: 0;
        vertical-align: baseline;
        font-size: var(--font-size-xs);
    }
    & sup {
        bottom: 2ex;
    }
    & sub {
        top: 1ex;
    }
}
