table,
thead,
tbody,
tfoot,
caption {
    border-style: solid;
    border-collapse: collapse;
    border-color: var(--color-font-primary);
    border-width: var(--hairline);
    border-collapse: collapse;
}

table {
    margin: 1em 0;
    width: 100%;
}

table+table {
    margin-top: 2em;
    /* Add margin for subsequent tables. */
}

caption {
    font-weight: bold;
}

td,
th {
    border-style: dashed dotted;
    border-width: var(--hairline);
}

caption,
td,
th {
    padding: 0.5em 0.25em;
    hyphens: none;
    /* Disable hyphenation by default, as it tends to wreak havoc with cell width calculations. */
}

@media print {
    table {
        break-inside: avoid;
    }
}
