/* latin-modern-roman-slanted-17-regular */
@font-face {
	font-family: Latin Modern Roman Slanted;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Slanted 17 Regular"), local("LMRomanSlant17-Regular"), url(latin-modern-roman-slanted-17-regular.woff2) format("woff2");
}
/* latin-modern-roman-slanted-12-regular */
@font-face {
	font-family: Latin Modern Roman Slanted;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Slanted 12 Regular"), local("LMRomanSlant12-Regular"), url(latin-modern-roman-slanted-12-regular.woff2) format("woff2");
}
/* latin-modern-roman-slanted-10-regular */
@font-face {
	font-family: Latin Modern Roman Slanted;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Slanted 10 Regular"), local("LMRomanSlant10-Regular"), url(latin-modern-roman-slanted-10-regular.woff2) format("woff2");
}
/* latin-modern-roman-slanted-10-bold */
@font-face {
	font-family: Latin Modern Roman Slanted;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman Slanted 10 Bold"), local("LMRomanSlant10-Bold"), url(latin-modern-roman-slanted-10-bold.woff2) format("woff2");
}
/* latin-modern-roman-slanted-9-regular */
@font-face {
	font-family: Latin Modern Roman Slanted;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Slanted 9 Regular"), local("LMRomanSlant9-Regular"), url(latin-modern-roman-slanted-9-regular.woff2) format("woff2");
}
/* latin-modern-roman-slanted-8-regular */
@font-face {
	font-family: Latin Modern Roman Slanted;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Slanted 8 Regular"), local("LMRomanSlant8-Regular"), url(latin-modern-roman-slanted-8-regular.woff2) format("woff2");
}

