/* latin-modern-sans-demi-cond-10-regular */
@font-face {
	font-family: Latin Modern Sans Demi Cond;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans Demi Cond 10 Regular"), local("LMSansDemiCond10-Regular"), url(latin-modern-sans-demi-cond-10-regular.woff2) format("woff2");
}
/* latin-modern-sans-demi-cond-10-oblique */
@font-face {
	font-family: Latin Modern Sans Demi Cond;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans Demi Cond 10 Oblique"), local("LMSansDemiCond10-Oblique"), url(latin-modern-sans-demi-cond-10-oblique.woff2) format("woff2");
}

