/* latin-modern-roman-unslanted-10-regular */
@font-face {
	font-family: Latin Modern Roman Unslanted;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Unslanted 10 Regular"), local("LMRomanUnsl10-Regular"), url(latin-modern-roman-unslanted-10-regular.woff2) format("woff2");
}

