/* latin-modern-mono-12-regular */
@font-face {
	font-family: Latin Modern Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono 12 Regular"), local("LMMono12-Regular"), url(latin-modern-mono-12-regular.woff2) format("woff2");
}
/* latin-modern-mono-10-regular */
@font-face {
	font-family: Latin Modern Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono 10 Regular"), local("LMMono10-Regular"), url(latin-modern-mono-10-regular.woff2) format("woff2");
}
/* latin-modern-mono-10-italic */
@font-face {
	font-family: Latin Modern Mono;
	font-style: italic;
	font-weight: 400;
	src: local("Latin Modern Mono 10 Italic"), local("LMMono10-Italic"), url(latin-modern-mono-10-italic.woff2) format("woff2");
}
/* latin-modern-mono-9-regular */
@font-face {
	font-family: Latin Modern Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono 9 Regular"), local("LMMono9-Regular"), url(latin-modern-mono-9-regular.woff2) format("woff2");
}
/* latin-modern-mono-8-regular */
@font-face {
	font-family: Latin Modern Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono 8 Regular"), local("LMMono8-Regular"), url(latin-modern-mono-8-regular.woff2) format("woff2");
}

