/* latin-modern-sans-17-regular */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 17 Regular"), local("LMSans17-Regular"), url(latin-modern-sans-17-regular.woff2) format("woff2");
}
/* latin-modern-sans-17-oblique */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 17 Oblique"), local("LMSans17-Oblique"), url(latin-modern-sans-17-oblique.woff2) format("woff2");
}
/* latin-modern-sans-12-regular */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 12 Regular"), local("LMSans12-Regular"), url(latin-modern-sans-12-regular.woff2) format("woff2");
}
/* latin-modern-sans-12-oblique */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 12 Oblique"), local("LMSans12-Oblique"), url(latin-modern-sans-12-oblique.woff2) format("woff2");
}
/* latin-modern-sans-10-regular */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 10 Regular"), local("LMSans10-Regular"), url(latin-modern-sans-10-regular.woff2) format("woff2");
}
/* latin-modern-sans-10-oblique */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 10 Oblique"), local("LMSans10-Oblique"), url(latin-modern-sans-10-oblique.woff2) format("woff2");
}
/* latin-modern-sans-10-bold-oblique */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Sans 10 Bold Oblique"), local("LMSans10-BoldOblique"), url(latin-modern-sans-10-bold-oblique.woff2) format("woff2");
}
/* latin-modern-sans-10-bold */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Sans 10 Bold"), local("LMSans10-Bold"), url(latin-modern-sans-10-bold.woff2) format("woff2");
}
/* latin-modern-sans-9-regular */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 9 Regular"), local("LMSans9-Regular"), url(latin-modern-sans-9-regular.woff2) format("woff2");
}
/* latin-modern-sans-9-oblique */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 9 Oblique"), local("LMSans9-Oblique"), url(latin-modern-sans-9-oblique.woff2) format("woff2");
}
/* latin-modern-sans-8-regular */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 8 Regular"), local("LMSans8-Regular"), url(latin-modern-sans-8-regular.woff2) format("woff2");
}
/* latin-modern-sans-8-oblique */
@font-face {
	font-family: Latin Modern Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans 8 Oblique"), local("LMSans8-Oblique"), url(latin-modern-sans-8-oblique.woff2) format("woff2");
}

