/* latin-modern-mono-prop-10-regular */
@font-face {
	font-family: Latin Modern Mono Prop;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Prop 10 Regular"), local("LMMonoProp10-Regular"), url(latin-modern-mono-prop-10-regular.woff2) format("woff2");
}
/* latin-modern-mono-prop-10-oblique */
@font-face {
	font-family: Latin Modern Mono Prop;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Prop 10 Oblique"), local("LMMonoProp10-Oblique"), url(latin-modern-mono-prop-10-oblique.woff2) format("woff2");
}

