/* latin-modern-mono-light-10-regular */
@font-face {
	font-family: Latin Modern Mono Light;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Light 10 Regular"), local("LMMonoLt10-Regular"), url(latin-modern-mono-light-10-regular.woff2) format("woff2");
}
/* latin-modern-mono-light-10-oblique */
@font-face {
	font-family: Latin Modern Mono Light;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Light 10 Oblique"), local("LMMonoLt10-Oblique"), url(latin-modern-mono-light-10-oblique.woff2) format("woff2");
}
/* latin-modern-mono-light-10-bold-oblique */
@font-face {
	font-family: Latin Modern Mono Light;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Mono Light 10 Bold Oblique"), local("LMMonoLt10-BoldOblique"), url(latin-modern-mono-light-10-bold-oblique.woff2) format("woff2");
}
/* latin-modern-mono-light-10-bold */
@font-face {
	font-family: Latin Modern Mono Light;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Mono Light 10 Bold"), local("LMMonoLt10-Bold"), url(latin-modern-mono-light-10-bold.woff2) format("woff2");
}

