/* latin-modern-roman-demi-10-regular */
@font-face {
	font-family: Latin Modern Roman Demi;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Demi 10 Regular"), local("LMRomanDemi10-Regular"), url(latin-modern-roman-demi-10-regular.woff2) format("woff2");
}
/* latin-modern-roman-demi-10-oblique */
@font-face {
	font-family: Latin Modern Roman Demi;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Demi 10 Oblique"), local("LMRomanDemi10-Oblique"), url(latin-modern-roman-demi-10-oblique.woff2) format("woff2");
}

