/* latin-modern-mono-slanted-10-regular */
@font-face {
	font-family: Latin Modern Mono Slanted;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Slanted 10 Regular"), local("LMMonoSlant10-Regular"), url(latin-modern-mono-slanted-10-regular.woff2) format("woff2");
}

