/* latin-modern-mono-light-cond-10-regular */
@font-face {
	font-family: Latin Modern Mono Light Cond;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Light Cond 10 Regular"), local("LMMonoLtCond10-Regular"), url(latin-modern-mono-light-cond-10-regular.woff2) format("woff2");
}
/* latin-modern-mono-light-cond-10-oblique */
@font-face {
	font-family: Latin Modern Mono Light Cond;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Light Cond 10 Oblique"), local("LMMonoLtCond10-Oblique"), url(latin-modern-mono-light-cond-10-oblique.woff2) format("woff2");
}

