/* latin-modern-mono-caps-10-regular */
@font-face {
	font-family: Latin Modern Mono Caps;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Caps 10 Regular"), local("LMMonoCaps10-Regular"), url(latin-modern-mono-caps-10-regular.woff2) format("woff2");
}
/* latin-modern-mono-caps-10-oblique */
@font-face {
	font-family: Latin Modern Mono Caps;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Caps 10 Oblique"), local("LMMonoCaps10-Oblique"), url(latin-modern-mono-caps-10-oblique.woff2) format("woff2");
}

