@import url(@fontsource/cardo/400-italic.css);
@import url(@fontsource/cardo/400.css);
@import url(@fontsource/cardo/700.css);

@import url(@fontsource/cormorant/300.css);
@import url(@fontsource/cormorant/300-italic.css);
@import url(@fontsource/cormorant/400.css);
@import url(@fontsource/cormorant/400-italic.css);
@import url(@fontsource/cormorant/500.css);
@import url(@fontsource/cormorant/500-italic.css);
@import url(@fontsource/cormorant/600.css);
@import url(@fontsource/cormorant/600-italic.css);
@import url(@fontsource/cormorant/700.css);
@import url(@fontsource/cormorant/700-italic.css);

@import url(fonts/latin-modern/latin-modern-mono/latin-modern-mono.css);

@import url(@fontsource/flow-rounded/400.css);
@import url(@fontsource/flow-rounded/index.css);
@import url(@fontsource/flow-rounded/latin.css);

:root {
    /* FONTS */
    --font-headline: "Cormorant",
        ui-serif,
        serif;
    --font-text: "Cardo",
        ui-serif,
        serif;
    --font-sans: ui-sans-serif,
        sans-serif;
    --font-monospace: "Latin Modern Mono",
        ui-monospace,
        monospace;
    /* --font-headline: "Flow Rounded", ui-serif, serif;
    --font-text: "Flow Rounded", ui-serif, serif;
    --font-sans: ui-sans-serif, sans-serif;
    --font-monospace: "Flow Rounded", ui-monospace, monospace; */

    --modular-factor: 1.2;
    --hairline: 0.25mm;
    --zoom: 0mm;

    @media screen {
        --font-size-m: calc(4.2mm + var(--zoom));
        --font-size-80: 3.79mm;
        --page-width: 210mm;
    }

    @media screen and (prefers-color-scheme: dark) {
        --font-size-m: calc(4.6mm + var(--zoom));
        --font-size-80: 3.79mm;
    }

    @media screen and (prefers-color-scheme: light) {
        --font-size-m: calc(4.2mm + var(--zoom));
        --font-size-80: 3.79mm;
    }

    @media print {
        --font-size-m: calc(4.2mm + var(--zoom));
        --font-size-80: 3.79mm;
        --page-width: 210mm;
    }

    --font-size-s: calc(var(--font-size-m) / var(--modular-factor));
    --font-size-xs: calc(var(--font-size-s) / var(--modular-factor));
    --font-size-xxs: calc(var(--font-size-xs) / var(--modular-factor));
    --font-size-xxxs: calc(var(--font-size-xxs) / var(--modular-factor));
    --font-size-xxxxs: calc(var(--font-size-xxxs) / var(--modular-factor));
    --font-size-xxxxxs: calc(var(--font-size-xxxxs) / var(--modular-factor));
    --font-size-l: calc(var(--font-size-m) * var(--modular-factor));
    --font-size-xl: calc(var(--font-size-l) * var(--modular-factor));
    --font-size-xxl: calc(var(--font-size-xl) * var(--modular-factor));
    --font-size-xxxl: calc(var(--font-size-xxl) * var(--modular-factor));
    --font-size-xxxxl: calc(var(--font-size-xxxl) * var(--modular-factor));
    --font-size-xxxxxl: calc(var(--font-size-xxxxl) * var(--modular-factor));
    font-size: calc(1mm + var(--zoom));
}

.font-size-m {
    font-size: var(--font-size-m);
}

.font-size-s {
    font-size: var(--font-size-s);
}

.font-size-xs {
    font-size: var(--font-size-xs);
}

.font-size-xxs {
    font-size: var(--font-size-xxs);
}

.font-size-xxxs {
    font-size: var(--font-size-xxxs);
}

.font-size-xxxxs {
    font-size: var(--font-size-xxxxs);
}

.font-size-xxxxxs {
    font-size: var(--font-size-xxxxxs);
}

.font-size-l {
    font-size: var(--font-size-l);
}

.font-size-xl {
    font-size: var(--font-size-xl);
}

.font-size-xxl {
    font-size: var(--font-size-xxl);
}

.font-size-xxxl {
    font-size: var(--font-size-xxxl);
}

.font-size-xxxxl {
    font-size: var(--font-size-xxxxl);
}

.font-size-xxxxxl {
    font-size: var(--font-size-xxxxxl);
}