@media print {
    @page {
        /* Side boarder is two-folded with padding and page margin. */
        margin: 20mm 10mm;

        @bottom-center {
            content: counter(page);
            font-size: var(--font-size-m);
        }
    }

    .no-print {
        display: none;
    }
}