:root {
    text-size-adjust: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}
