header,
nav,
main,
footer {
    @media screen and (max-width: 210mm) {
        width: 100vw;
    }
    @media screen and (min-width: 210mm) {
        width: var(--page-width);
    }
}

main {
    @media screen and (max-width: 210mm) {
        padding: 5mm;
    }
    @media screen and (min-width: 210mm) {
        padding: 20mm;
    }
    @media print {
        /* Side boarder is two-folded with padding and page margin. */
        padding: 0 10mm;
    }
}

header,
nav,
footer {
    @media screen and (max-width: 210mm) {
        padding: 0 5mm;
        margin-top: 0;
        margin-bottom: 0;
    }
    @media screen and (min-width: 210mm) {
        padding: 0 20mm;
        margin-top: 0;
        margin-bottom: 0;
    }
    @media print {
        /* Side boarder is two-folded with padding and page margin. */
        padding: 0 10mm;
    }
}

* {
    word-break: break-word;
}
