/* latin-modern-roman-17-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 17 Regular"), local("LMRoman17-Regular"), url(latin-modern-roman-17-regular.woff2) format("woff2");
}
/* latin-modern-roman-12-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 12 Regular"), local("LMRoman12-Regular"), url(latin-modern-roman-12-regular.woff2) format("woff2");
}
/* latin-modern-roman-12-italic */
@font-face {
	font-family: Latin Modern Roman;
	font-style: italic;
	font-weight: 400;
	src: local("Latin Modern Roman 12 Italic"), local("LMRoman12-Italic"), url(latin-modern-roman-12-italic.woff2) format("woff2");
}
/* latin-modern-roman-12-bold */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman 12 Bold"), local("LMRoman12-Bold"), url(latin-modern-roman-12-bold.woff2) format("woff2");
}
/* latin-modern-roman-10-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 10 Regular"), local("LMRoman10-Regular"), url(latin-modern-roman-10-regular.woff2) format("woff2");
}
/* latin-modern-roman-10-italic */
@font-face {
	font-family: Latin Modern Roman;
	font-style: italic;
	font-weight: 400;
	src: local("Latin Modern Roman 10 Italic"), local("LMRoman10-Italic"), url(latin-modern-roman-10-italic.woff2) format("woff2");
}
/* latin-modern-roman-10-bold-italic */
@font-face {
	font-family: Latin Modern Roman;
	font-style: italic;
	font-weight: 700;
	src: local("Latin Modern Roman 10 Bold Italic"), local("LMRoman10-BoldItalic"), url(latin-modern-roman-10-bold-italic.woff2) format("woff2");
}
/* latin-modern-roman-10-bold */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman 10 Bold"), local("LMRoman10-Bold"), url(latin-modern-roman-10-bold.woff2) format("woff2");
}
/* latin-modern-roman-9-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 9 Regular"), local("LMRoman9-Regular"), url(latin-modern-roman-9-regular.woff2) format("woff2");
}
/* latin-modern-roman-9-italic */
@font-face {
	font-family: Latin Modern Roman;
	font-style: italic;
	font-weight: 400;
	src: local("Latin Modern Roman 9 Italic"), local("LMRoman9-Italic"), url(latin-modern-roman-9-italic.woff2) format("woff2");
}
/* latin-modern-roman-9-bold */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman 9 Bold"), local("LMRoman9-Bold"), url(latin-modern-roman-9-bold.woff2) format("woff2");
}
/* latin-modern-roman-8-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 8 Regular"), local("LMRoman8-Regular"), url(latin-modern-roman-8-regular.woff2) format("woff2");
}
/* latin-modern-roman-8-italic */
@font-face {
	font-family: Latin Modern Roman;
	font-style: italic;
	font-weight: 400;
	src: local("Latin Modern Roman 8 Italic"), local("LMRoman8-Italic"), url(latin-modern-roman-8-italic.woff2) format("woff2");
}
/* latin-modern-roman-8-bold */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman 8 Bold"), local("LMRoman8-Bold"), url(latin-modern-roman-8-bold.woff2) format("woff2");
}
/* latin-modern-roman-7-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 7 Regular"), local("LMRoman7-Regular"), url(latin-modern-roman-7-regular.woff2) format("woff2");
}
/* latin-modern-roman-7-italic */
@font-face {
	font-family: Latin Modern Roman;
	font-style: italic;
	font-weight: 400;
	src: local("Latin Modern Roman 7 Italic"), local("LMRoman7-Italic"), url(latin-modern-roman-7-italic.woff2) format("woff2");
}
/* latin-modern-roman-7-bold */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman 7 Bold"), local("LMRoman7-Bold"), url(latin-modern-roman-7-bold.woff2) format("woff2");
}
/* latin-modern-roman-6-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 6 Regular"), local("LMRoman6-Regular"), url(latin-modern-roman-6-regular.woff2) format("woff2");
}
/* latin-modern-roman-6-bold */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman 6 Bold"), local("LMRoman6-Bold"), url(latin-modern-roman-6-bold.woff2) format("woff2");
}
/* latin-modern-roman-5-regular */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman 5 Regular"), local("LMRoman5-Regular"), url(latin-modern-roman-5-regular.woff2) format("woff2");
}
/* latin-modern-roman-5-bold */
@font-face {
	font-family: Latin Modern Roman;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Roman 5 Bold"), local("LMRoman5-Bold"), url(latin-modern-roman-5-bold.woff2) format("woff2");
}

