/* latin-modern-sans-quotation-8-regular */
@font-face {
	font-family: Latin Modern Sans Quotation;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans Quotation 8 Regular"), local("LMSansQuot8-Regular"), url(latin-modern-sans-quotation-8-regular.woff2) format("woff2");
}
/* latin-modern-sans-quotation-8-oblique */
@font-face {
	font-family: Latin Modern Sans Quotation;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Sans Quotation 8 Oblique"), local("LMSansQuot8-Oblique"), url(latin-modern-sans-quotation-8-oblique.woff2) format("woff2");
}
/* latin-modern-sans-quotation-8-bold-oblique */
@font-face {
	font-family: Latin Modern Sans Quotation;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Sans Quotation 8 Bold Oblique"), local("LMSansQuot8-BoldOblique"), url(latin-modern-sans-quotation-8-bold-oblique.woff2) format("woff2");
}
/* latin-modern-sans-quotation-8-bold */
@font-face {
	font-family: Latin Modern Sans Quotation;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Sans Quotation 8 Bold"), local("LMSansQuot8-Bold"), url(latin-modern-sans-quotation-8-bold.woff2) format("woff2");
}

