/* latin-modern-roman-dunhill-10-regular */
@font-face {
	font-family: Latin Modern Roman Dunhill;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Dunhill 10 Regular"), local("LMRomanDunh10-Regular"), url(latin-modern-roman-dunhill-10-regular.woff2) format("woff2");
}
/* latin-modern-roman-dunhill-10-oblique */
@font-face {
	font-family: Latin Modern Roman Dunhill;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Roman Dunhill 10 Oblique"), local("LMRomanDunh10-Oblique"), url(latin-modern-roman-dunhill-10-oblique.woff2) format("woff2");
}

