/* latin-modern-mono-prop-light-10-regular */
@font-face {
	font-family: Latin Modern Mono Prop Light;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Prop Light 10 Regular"), local("LMMonoPropLt10-Regular"), url(latin-modern-mono-prop-light-10-regular.woff2) format("woff2");
}
/* latin-modern-mono-prop-light-10-oblique */
@font-face {
	font-family: Latin Modern Mono Prop Light;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Prop Light 10 Oblique"), local("LMMonoPropLt10-Oblique"), url(latin-modern-mono-prop-light-10-oblique.woff2) format("woff2");
}
/* latin-modern-mono-prop-light-10-boldoblique */
@font-face {
	font-family: Latin Modern Mono Prop Light;
	font-style: normal;
	font-weight: 400;
	src: local("Latin Modern Mono Prop Light 10 BoldOblique"), local("LMMonoPropLt10-BoldOblique"), url(latin-modern-mono-prop-light-10-boldoblique.woff2) format("woff2");
}
/* latin-modern-mono-prop-light-10-bold */
@font-face {
	font-family: Latin Modern Mono Prop Light;
	font-style: normal;
	font-weight: 700;
	src: local("Latin Modern Mono Prop Light 10 Bold"), local("LMMonoPropLt10-Bold"), url(latin-modern-mono-prop-light-10-bold.woff2) format("woff2");
}

